@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 900;
  font-display: optional;
  src: url(/assets/Inter.var.woff2) format('woff2');
  unicode-range: U+00-7F, 1F300—1F5FF;
}

:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  font-family: Inter, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
}