@font-face {
  font-family: 'Inter';
  font-style: oblique 0deg 10deg;
  font-weight: 400 900;
  font-display: optional;
  font-synthesis: none;
  src: url(/assets/Inter-Subset.woff2) format('woff2-variations');
  unicode-range: U+20-7F, U+D3, U+F3;
}

:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  font-family: Inter, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}