---
import { Markdown } from 'astro/components';

import Head from '../components/Head.astro';
import Nav from '../components/Nav/Nav'
---

<html lang="en">
<head>
  <Head title="Home page of Miki Csepella" />
</head>
<body>
  <header>
    <Nav withHome={false} />
  </header>
  <main>
    <Markdown>
      ## Hi! 👋
      # I'm Miki.
      ### I create stuff by programming computers and I put it on the web. You can find some of it [here](/projects).
    </Markdown>
  </main>
</body>
</html>