---
const { title = 'Home page of Miki Csepella' } = Astro.props;
---

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
  <link
    rel="preload"
    href="/assets/Inter.var.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  >
  <title>{title}</title>
</head>
